<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Ship!</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <header>
      <img src="public/hero.png" alt="Go Ship!" class="hero-image" />
      <a href="https://hackclub.com/"
        ><img
          style="
            position: absolute;
            top: 15px;
            left: 0;
            border: 0;
            width: 256px;
            z-index: 999;
          "
          src="/public/2026.svg"
          alt="Hack Club"
      /></a>

      <div class="hero-stuff">
        <div class="hero-stuff-main">
          <div class="hero-stuff-main-content">
            <img src="public/GoShip.png" alt="Go Ship!" class="logo" />
            <div class="hero-taglines">
              <span class="hero-tagline">
                <img src="public/sailboat.svg" alt="Sailboat" />
                <p class="hero-tagline-text sick-ass-drop-shadow-solid">
                  Ship a Golang project
                </p>
              </span>
              <img src="public/arrow-down.svg" alt="arrow down" />
              <span class="hero-tagline">
                <img src="public/gem.svg" alt="Gem" />
                <p class="hero-tagline-text sick-ass-drop-shadow-solid">
                  Win cool prizes!
                </p>
              </span>
            </div>
            <!-- buttons nd stuff -->
            <hr
              style="border: 0; border-top: 1px solid currentColor; width: 100%"
            />
            {{if not .IsAuthed}}
            <a href="{{ .HCAAuthURL }}">
              <button class="regbutton rsvp-button">RSVP Now!</button>
            </a>
            {{else}}
            <p class="tyforrsvp">Thanks for RSVPing!</p>
            {{end}}
            <div style="width: 100%; display: flex; flex-direction: row; justify-content: start; align-items: start;">
              <hr
                style="
                  border: 0;
                  border-top: 1px solid currentColor;
                  width: 25%;
                  margin: 15px 0;
                "
              />
            </div>
            <p>RSVP Count: {{ .RSVPCount }}</p>
          </div>
        </div>
      </div>
    </header>
    <footer>:3</footer>
  </body>
</html>
