<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Ship!</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <header>
      <img src="public/hero.png" alt="Go Ship!" class="hero-image" />
      <a href="https://hackclub.com/"
        ><img
          style="
            position: absolute;
            top: 15px;
            left: 0;
            border: 0;
            width: 256px;
            z-index: 999;
          "
          src="/public/2026.svg"
          alt="Hack Club"
      /></a>

      <div class="hero-stuff">
        <div class="hero-stuff-main">
          <div class="hero-stuff-main-content">
            <img src="public/GoShip.png" alt="Go Ship!" class="logo" />
            <div class="hero-taglines-parent">
              <img src="public/frame.png" alt="Frame" class="tagline-frame" />
              <div class="hero-taglines-parent-parent">
                <div class="hero-taglines">
                  <span class="hero-tagline">
                    <img
                      src="public/sailboat.svg"
                      alt="Sailboat"
                      class="lucide-react-icon"
                    />
                    <p class="hero-tagline-text sick-ass-drop-shadow-solid">
                      Ship a Golang project
                    </p>
                  </span>
                  <img
                    src="public/coolerdotted.png"
                    alt="arrow down"
                    class="dotted-arrow"
                  />
                  <span class="hero-tagline">
                    <img
                      src="public/gem.svg"
                      alt="Gem"
                      class="lucide-react-icon"
                    />
                    <p class="hero-tagline-text sick-ass-drop-shadow-solid">
                      Win cool prizes!
                    </p>
                  </span>
                </div>
                <hr class="hrseperator" />
                {{if not .IsAuthed}}
                <a href="{{ .HCAAuthURL }}">
                  <button class="regbutton rsvp-button">RSVP Now!</button>
                </a>
                {{else}}
                <p class="tyforrsvp">Thanks for RSVPing!</p>
                {{end}}
                <div
                  style="
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                  "
                ></div>
              </div>
            </div>
            <!-- buttons nd stuff -->
          </div>
        </div>
      </div>
    </header>
    <!-- FAQ and Requirements section -->
    <!-- shoutout to https://railway.hackclub.com/ for the design inspiration -->
    <img src="public/waves.png" alt="wave" class="wave-seperator" />
    <section class="faq-section">
      <div class="faq-leftside">
        <h1>Requirements</h1>
        <hr class="faq-hr" />
        <ul class="requirements-list">
          <li>Project must be written using Go</li>
          <li>Open-source your code on GitHub, GitLab, or anywhere else!</li>
          <li>
            Must be your original work.<br />Feel free to take inspiration from
            existing projects, but don't copy-paste!
          </li>
          <li>
            Write a proper README.md with instructions on how to build and run
            your project.<br /> AI will not be allowed for this.
          </li>
          <li>AI generation can only be used for up to 30% of your code.</li>
          <li>
            Ship your project!
            <ul>
              <li>Websites: Must be live and accessible to the public</li>
              <li>
                Anything else: Upload the binary to GitHub Releases (or another
                platform),<br />and optionally list your package on pkg.go.dev!
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="faq-rightside">
        <h1>Frequently Asked Questions</h1>
        <hr class="faq-hr" />
        <table class="faq-table">
          <details>
            <summary>What even is Go?</summary>
            <p>
              Go (aka Golang) is a high-level general-purpose programming
              language released in 2009 by Google.<br />
              What makes it special are its super-fast compile times,
              concurrency via goroutines, simplicity & efficiency, and its
              powerful standard library.<br />
              Compared to C++ or Rust, Go is much easier to learn and write,
              while still offering comparable performance for 99% of use
              cases.<br />
              Some popular projects written in Go are Caddy, Docker, Kubernetes,
              and Dgraph.<br /><br />
              See more:<br />
            </p>
            <ul>
              <li>
                <a
                  href="https://wikipedia.org/wiki/Go_(programming_language)"
                  target="_blank"
                  >Go (programming language) - Wikipedia</a
                >
              </li>
              <li>
                <a href="https://go.dev/doc/faq#what_is_go" target="_blank"
                  >What is Go?</a
                >
              </li>
              <li>
                <a href="https://youtu.be/446E-r0rXHI" target="_blank"
                  >Go in 100 Seconds - Fireship</a
                >
              </li>
            </ul>
          </details>
          <details>
            <summary>Can I participate?</summary>
            <p>If you're 13-18 years old, yes!</p>
          </details>
          <details>
            <summary>How do I ship my project?</summary>
            <!-- if nest isn't back up by the time this ysws is ready to run i'll find alternatives -->
            <p>
              If your project is a website, you can host it on any platform that
              supports Go (try
              <a href="https://hackclub.app" target="_blank">Hack Club Nest</a
              >! (if it's back up yet)) as long as it's live and accessible to the public.<br />
              If your project is not a website, you can upload the binary to
              GitHub Releases (or another platform) and optionally list your
              package on pkg.go.dev.
            </p>
          </details>
          <details>
            <summary>How do I track my time?</summary>
            <p>
              <a href="https://hackatime.hackclub.com/" target="_blank"
                >Hackatime</a
              >!
            </p>
          </details>
          <details>
            <summary>I have more questions!</summary>
            <p>
              Join the
              <a
                href="https://hackclub.enterprise.slack.com/archives/C0AMCKRCAP9"
                target="_blank"
                >#go-ship</a
              >
              channel on the
              <a href="https://slack.hackclub.com" target="_blank"
                >Hack Club Slack</a
              >
              and feel free to ask anything!
            </p>
          </details>
        </table>
      </div>
    </section>
    <img src="public/flipwaves.png" alt="wave" class="wave-seperator" />
    <!-- boo more .png's to download but css transform rotate(180deg) added a weird white line so -->
    <footer>
      <p>
        <a href="https://hackclub.com" target="_blank"> Hack Club </a>
      </p>
      <div class="verticalseperatorthingy"></div>
      <p>
        <a href="https://github.com/bananajeanss/go-ship" target="_blank">
          Github Repo
        </a>
      </p>
      <div class="verticalseperatorthingy"></div>
      <p>
        Commit:
        <a
          id="ghCommitUrl"
          href="https://github.com/bananajeanss/go-ship/commit/{{ .CommitHash }}"
          target="_blank"
        >
          {{ .CommitHash }}
        </a>
      </p>
      <div class="verticalseperatorthingy"></div>
      <p
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
        "
      >
        Built on <a href="https://go.dev/" target="_blank">Go</a>
        <img
          src="/public/gopherdraw.png"
          alt="an masterpiece drawing of the go gopher at like what 42x42 pixels"
          class="gopherdraw"
        />
      </p>
    </footer>
  </body>
</html>
